{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Choose Klotski Level</h2>
<div class="link-btn lv-Easy"><a href="/klotski/1" class="">Easy - 8 Klotski (3x3)</a></div>
<div class="link-btn lv-Normal"><a href="/klotski/2" class="">Normal - 15 Klotski (4x4)</a></div>
<div class="link-btn lv-Difficult"><a href="/klotski/3" class="">Difficult - 24 Klotski (5x5)</a></div>
<div class="link-btn lv-Hard"><a href="/klotski/4" class="">Hard - 35 Klotski (6x6)</a></div>
<div class="link-btn lv-Expert"><a href="/klotski/5" class="">Expert - 48 Klotski (7x7)</a></div>
{% endblock %}